.title {
    text-align: center;
    color: #000;
}

.card{
    background: linear-gradient(120deg, rgb(20, 20, 255) , rgb(107, 140, 240) , rgb(233, 96, 233) );
    color: aliceblue;
    width: 324px;
    height: 204px;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 100px auto;
    border: none;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.7);
    outline: none;
}

.card-name {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    padding:10px 20px;
}

.company-name{
    text-align: left;
    font-size: 18px;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    font-weight: bold;
    
}

.card-title, .card-number {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 20px;
}
